{% set title = "Complain List| " %}
{% extends 'base.html' %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/status.css')}}">

<div class="container mt-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-10">
      <div class="rounded">
        <div class="table-responsive table-borderless">
          <table id="data" class="table table-striped">
            <thead>
              <tr>
                <th>S/No</th>
                <th>Case No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Description</th>
                <th>Date</th>
                <th>S/No</th>
                <th>Case No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Description</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody class="table-body">
              {% for row in value %}
              <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
                <td>{{ row[9] }}</td>
                <td>{{ row[10] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}