{% extends "base.html" %}
{% block subtitle %}Phising/Email Detection{% endblock %}

{% block content %}
<!-- Input form -->
<div class="container" style="margin-top: 100px;">
  <h2 class="text-center mt-3">Type an Email here to check it is phising mail or
    not</h2>
  <br>
  <form action="/email" method="POST">
    <div class="form-floating">
      <textarea class="form-control" placeholder="paste your email here..." id="email" name="email" style="height: 100px;" required></textarea>
      <label for="email">Paste your email here...</label><br>
      <br>
      <button class="btn btn-outline-danger">Detect</button>
    </div>

  </form>

</div>
{% endblock %}